{% extends "shop/base.html" %}
{% block title %}
	Your Shopping Cart 
{% endblock %}

{% block content %}

<h2>Your Shopping Cart</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit Price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
{% for item in cart %}
	{% with product=item.product %}
		<tr>
	        <td class="td_image">
	        	<a href="{{ product.get_absolute_url }}">
	        		<img src="{% if product.image %}{{ product.image.url }}{% else %}https://elcopcbonline.com/photos/product/4/176/4.jpg{% endif %}">
	        	</a>
	        </td>
	        <td>{{ product.name }}</td>
	        <td>
	        	<form action="{% url 'cart:cart_add' product.id %}" method="post">
	        		{{ item.update_quantity_form.quantity }}
	        		{{ item.update_quantity_form.update }}
	        		<input type="submit" value="Update">
	        		{% csrf_token %}
	        	</form>
	        </td>
	        <td>
	        	<a href="{% url 'cart:cart_remove' product.id %}">
	        		REMOVE
	        	</a>
	        </td>
	        <td>{{ item.price }} MMK</td>
	        <td>{{ item.total_price }} MMK</td>
      	</tr>
	{% endwith %}
{% endfor %}

{% if cart.coupon %}
	<tr class="subtotal">
		<td>Subtotal</td>
		<td colspan="4"></td>
		<td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
	</tr>
	<tr>
		<td>
			"{{ cart.coupon.code }}" coupon
			({{ cart.coupon.discount }}% off)
			</td>
			<td colspan="4"></td>
			<td class="num neg">
			- ${{ cart.get_discount|floatformat:"2" }}
		</td>
	</tr>
{% endif %}
	<tr class="total">
		<td>Total</td>
		<td colspan="4"></td>
		<td class="num">
		${{ cart.get_total_price_after_discount|floatformat:"2" }}
		</td>
	</tr>
    </tbody>
  </table>


<p>Apply a coupon:</p>
<form action="{% url "coupons:apply" %}" method="post">
	{{ coupon_apply_form }}
	<input type="submit" value="Apply">
	{% csrf_token %}
</form>

{% if cart %}
<a href="{% url 'orders:order_create' %}" class="btn btn-sm btn-outline-info">
	Checkout
</a>
<a href="{% url 'shop:product_list' %}" class="btn btn-sm btn-outline-info">
	Continue Shopping
</a>

{% else %}
	<a href="{% url 'shop:product_list' %}" class="btn btn-sm btn-outline-info">
	Continue Shopping
</a>
{% endif %}
{% endblock %}
